import /vendor/etc/init/hw/init.xiaomi.device.rc
import /vendor/etc/init/hw/init.xiaomi.series.rc

# Acdbdata
service vendor.acdbdata-sh /vendor/bin/init.acdbdata.sh
    class hal
    user system
    group system
    oneshot

on property:persist.vendor.audio.calfile0=*
    exec /bin/sleep 1s
    restart vendor.audio-hal

# Baseband
service vendor.baseband-sh /vendor/bin/init.baseband.sh
    class late_start
    user system
    group system
    oneshot
    disabled

# Camera
on post-fs-data
    mkdir /data/vendor/qcam 0770 camera camera

on property:init.svc.vendor.qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

# FM
on property:hw.fm.init=*
    write /sys/module/radio_iris_transport/parameters/fmsmd_set ${hw.fm.init}

# RIL
on property:vendor.subsys_state_notifier.modem.state=OFFLINE
    stop vendor.qcrild
    stop vendor.qcrild2

on property:vendor.subsys_state_notifier.modem.state=ONLINE
    start vendor.qcrild
    start vendor.qcrild2

# Subsystem Restart
on init
    # Setup all the sub-system as related
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED

# Time
on property:sys.boot_completed=1
    restart time_daemon

# Wi-Fi
on init
    chown wifi wifi /sys/module/wlan/parameters/fwpath

# Write caching
on property:ro.vendor.xiaomi.enable_write_caching=1
 # write caching
    # Tell the kernel to use up to 99% of the RAM as cache for writes
    # and instruct kernel to use up to 50% of RAM before slowing down
    # the process that's writing.
    write /proc/sys/vm/dirty_ratio 99
    write /proc/sys/vm/dirty_background_ratio 50

    # Tell that 10 minutes write delay is ok to even start writing
    # stuff on the disk (ten minutes = 60000; 1 hour 360000).
    write /proc/sys/vm/dirty_expire_centisecs 60000
    write /proc/sys/vm/dirty_writeback_centisecs 60000
