service vendor.light-xiaomi_mithorium /vendor/bin/hw/android.hardware.lights-service.xiaomi_mithorium
    class hal
    user root
    group root
    shutdown critical

on property:sys.boot_completed=1
    chown root root /sys/class/leds/red/brightness
    chown root root /sys/class/leds/green/brightness
    chown root root /sys/class/leds/blue/brightness
    chown root root /sys/class/leds/lcd-backlight/brightness
    chown root root /sys/class/leds/button-backlight/brightness
    restart vendor.light-xiaomi_mithorium
