service vendor.dumpstate-default /vendor/bin/hw/android.hardware.dumpstate-service.mithorium --service
    class hal
    user system
    group system
    interface aidl android.hardware.dumpstate.IDumpstateDevice/default
    oneshot
    disabled
